<div>
	<section class="content-header">
		<h1>Container</h1>

	</section>
	<section class="content">
			<div class="box">
					<div class="box-body">
							<form>
									<div class="row form-group">
											
														<label >Name</label>
														<input type="text" class="form-control"/>
											
										
									</div>
									<div class="row form-group">
														<label>Branch</label>
														<select class="form-control"></select>
									</div>
									<div class="row form-group">
														<label>Description</label>
														<textarea class="form-control"></textarea>
									</div>
									<div class="row form-group">
											<button class="btn btn-default">Save</button>
											<button class="btn btn-default">Clear</button>
									</div>
							</form>
					</div>
			</div>
	</section>
</div>