<div>
	<section class="content-header">
		<h1>
			Container
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Container</a></li>
			<li class="active">Container</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						
						<div class="col-xs-6">
							<h3 class="box-title">Container</h3>
						</div>
						<div class="col-xs-6" style="text-align:right">
							<button class="btn btn-default" type="button" ng-click="create()">Create</button>
						</div>
						
					</div>
					<!-- /.box-header -->
					<div class="box-body">
							<table class="table table-bordered table-hover" id="tbContainer">
									<thead>
											<tr>
													<th>ContainerName</th>
													<th>Branch</th>
													<th></th>
											</tr>
									</thead>
							</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>