<div>
	<section class="content-header">
		<h1>Borrow</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="#">Destroy</a></li>
			<li class="active">Destroy</li>
		</ol>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-header">Form</div>
			<div class="box-body">
				<form>
					<div class="row form-group">
						<div class="col-xs-3">
							<label>DestroyCode</label>
						</div>
						<div class="col-xs-3">
							<input type="text" class="form-control" />
						</div>
						<div class="col-xs-3">
							<label>DestroyDesc</label>
						</div>
						<div class="col-xs-3">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-3">
							<label>DestroyDate</label>
						</div>
						<div class="col-xs-3">
							<input type="text" class="form-control date-picker" />
						</div>
						<div class="col-xs-3">
							<label>Branch</label>
						</div>
						<div class="col-xs-3">
							<select class="form-control"></select>
						</div>
					</div>
					<div class="row form-group">
						<button class="btn btn-default">Add</button>
						<button class="btn btn-default">Remove</button>
					</div>

				</form>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-body">

				<table class="table table-bordered table-hover" id="tbDestroyItem">
					<thead>
						<tr>
							<th><input type="checkbox" /></th>
							<th>DocumentCode</th>
							<th>DocumentDesc</th>
							<th>DocumentDate</th>
							<th>DocumentType</th>
							<th>FileName</th>
							<th>FileSize</th>
							<th>FilePath</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-body">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Send</button>
			</div>
		</div>
	</section>
</div>