<div>
	<section class="content-header">
		<h1>SendDelivery</h1>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-body">
				<form>
					<div class="row form-group">
						<div class="col-xs-3">
							<label>Branch</label>
						</div>
						<div class="col-xs-3">
							<select class="form-control"></select>
						</div>
						<div class="col-xs-3">
							<label>BoxStatus</label>
						</div>
						<div class="col-xs-3">
							<select class="form-control"></select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-3">
							<label>BoxDate</label>
						</div>
						<div class="col-xs-3">
							<div class="date-picker input-daterange input-group">
								<input type="text" class="form-control" />
								<div class="input-group-addon">
									<span>To</span>
								</div>
								<input type="text" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row form-group">
						<button class="btn btn-default">Search</button>
					</div>

				</form>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-body">
						<table class="table table-bordered table-hover" id="tbSendDelivery">
								<thead>
										<tr>
												<th>
												<div class="icheckbox">
														<input type="checkbox"/>
												</div>
												
												</th>
												<th>BoxCode</th>
												<th>BoxDesc</th>
												<th>BoxDate</th>
												<th>Branch</th>
												<th>BoxStatus</th>
												<th>FlowStatus</th>
												<th></th>
										</tr>
								</thead>
								<tbody></tbody>
						</table>
			</div>
		</div>
	</section>

</div>