<div>
	<section class="content-header">
		<h1>TransportBox</h1>

	</section>
	<section class="content">
		<div class="box">
			<div class="box-body">
				<form>
					<div class="row form-group">
						<label>BoxCode</label> <input type="text" class="form-control" />
					</div>
					<div class="row form-group">
						<label>BoxDesc</label> <input type="text" class="form-control" />
					</div>
					<div class="row form-group">
						<label>BoxDate</label> <input type="text" class="form-control date-picker" />
					</div>
					<div class="row form-group">
						<label>Branch</label> <select class="form-control"></select>
					</div>
					<div class="row form-group">
						<label>Status</label> <select class="form-control">
							<option value="0">Close</option>
							<option value="1">Open</option>
						</select>
					</div>
					<div class="row form-group">
						<button class="btn btn-default">Add</button>
						<button class="btn btn-default">Remove</button>
					</div>
					<div class="row form-group">
						<table class="table table-bordered table-hover"
							id="tbTranspBoxItem">
							<thead>
								<tr>
									<th><input type="checkbox" /></th>
									<th>DocumentCode</th>
									<th>DocumentDesc</th>
									<th>DocumentDate</th>
									<th>DocumentType</th>
									<th>FileName</th>
									<th>FileSize</th>
									<th>FilePath</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="row form-group">
						<button class='btn btn-default'>Save</button>
						<button class="btn btn-default">Clear</button>
						<button class="btn btn-default">Send</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>