<div>
	<section class="content-header">
		<h1>Document</h1>

	</section>
	<section class="content">
		<div class="box">
			<div class="box-body">
				<form>
					<div class="row form-group">
						<label>DepositCode</label> <input type="text" class="form-control" />
					</div>
					<div class="row form-group">
						<label>DepositDate</label> <input type="text"
							class="form-control date-picker" />
					</div>
					<div class="row form-group">
						<label>DepositDesc</label> <input type="text" class="form-control" />
					</div>
					<div class="row form-group">
						<label>Branch</label> <select class="form-control"></select>
					</div>
					<div class="row form-group">
						<label>Reference</label> <input type="text" class="form-control" />
					</div>
					<div class="row form-group">
							<button class="btn btn-default">Add</button>
							<button class="btn btn-default">Delete</button>
					</div>
					<div class="row form-group">
						<table class="table table-bordered table-hover" id="tbDepositItem">
							<thead>
								<tr>
									<th></th>
									<th>DocumentCode</th>
									<th>DocumentName</th>
									<th>DocumentType</th>
									<th>FileName</th>
									<th>FileSize</th>
									<th>FilePath</th>

								</tr>
							</thead>
						</table>
					</div>
					<div class="row form-group">
						<button class="btn btn-default">Save</button>
						<button class="btn btn-default">Clear</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>