<div>
	<section class="content-header">
		<h1>Deposit</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Deposit</a></li>
			<li class="active">Deposit</li>
		</ol>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-header">Criteria</div>
			<div class="box-body">
				<form>

					<div class="row form-group">
						<div class="col-xs-3">
							<label>DepositCode</label>
						</div>
						<div class="col-xs-3">
							<input type="text" class="form-control" />
						</div>
						<div class="col-xs-3">
							<label>DepositDesc</label>
						</div>
						<div class="col-xs-3">

							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-3">
							<label>Branch</label>
						</div>
						<div class="col-xs-3">
							<select class="form-control"></select>
						</div>
						<div class="col-xs-3">
							<label>DepositDate</label>
						</div>
						<div class="col-xs-3">

							<div class="date-picker input-daterange input-group">
								<input type="text" class="form-control" />
								<div class="input-group-addon">
									<span>To</span>
								</div>
								<input type="text" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row form-group">
						<button class="btn btn-default">Search</button>
						<button class="btn btn-default">Clear</button>
						<button class="btn btn-default" ng-click="create()">Create</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-header">Criteria</div>
			<div class="box-body">
						<table class="table table-bordered table-hover" id="tbDeposit">
									<thead>
											<tr>
													<th>DepositCode</th>
													<th>DepositDesc</th>
													<th>DepositDate</th>
													<th>Branch</th>
													<th></th>
											</tr>
									</thead>
							</table>
			</div>
		</div>
	</section>

</div>