<div>
	<section class="content-header">
		<h1>Document</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Document</a></li>
			<li class="active">Document</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">

						<div class="col-xs-6">
							<h3 class="box-title">Document</h3>
						</div>
						<div class="col-xs-6" style="text-align: right">
							<button class="btn btn-default" type="button" ng-click="create()">Create</button>
						</div>

					</div>
					<!-- /.box-header -->
					<div class="box-body">
								<table class="table table-bordered table-hover" id="tbDocument">
									<thead>
											<tr>
													<th>DocumentCode</th>
													<th>DocumentName</th>
													<th>DocumentType</th>
													<th>FileName</th>
													<th>FileSize</th>
													<th>FilePath</th>
													<th></th>
											</tr>
									</thead>
							</table>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
