<div>
	<section class="content-header">
		<h1>Document</h1>

	</section>
	<section class="content">
			<div class="box">
						<div class="box-body">
								<form>
										<div class="row form-group">
											<label>DocumentCode</label>
											<input type="text" class="form-control"/>
										</div>
										<div class="row form-group">
											<label>DocumentType</label>
											<select class="form-control" ></select>
										</div>
										<div class="row form-group">
											<label>DocumentDesc</label>
											<input type="text" class="form-control"/>
										</div>
										<div class="row form-group">
											<label>Reference</label>
											<input type="text" class="form-control"/>
										</div>
										<div class="row form-group">
											<label>File</label>
											<input type="file" class="form-control"/>
										</div>
										<div class="row form-group">
												<button class="btn btn-default">Save</button>
												<button class="btn btn-default">Clear</button>
										</div>
								</form>
						</div>
			</div>
	</section>
</div>